@font-face {
    font-family: 'SanFrancisco';
    src: url('SanFrancisco.eot?#iefix') format('embedded-opentype'),  url('SanFrancisco.otf')  format('opentype'),
    url('SanFrancisco.woff') format('woff'), url('SanFrancisco.ttf')  format('truetype'), url('SanFrancisco.svg#SanFrancisco') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SanFrancisco';
    src: url('SanFrancisco-SemiBold.eot?#iefix') format('embedded-opentype'),  url('SanFrancisco-SemiBold.otf')  format('opentype'),
    url('SanFrancisco-SemiBold.woff') format('woff'), url('SanFrancisco-SemiBold.ttf')  format('truetype'), url('SanFrancisco-SemiBold.svg#SanFrancisco-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SanFrancisco';
    src: url('SanFrancisco-Bold.eot?#iefix') format('embedded-opentype'),  url('SanFrancisco-Bold.otf')  format('opentype'),
    url('SanFrancisco-Bold.woff') format('woff'), url('SanFrancisco-Bold.ttf')  format('truetype'), url('SanFrancisco-Bold.svg#SanFrancisco-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SanFrancisco';
    src: url('SanFrancisco-ExtraBold.eot?#iefix') format('embedded-opentype'),  url('SanFrancisco-ExtraBold.otf')  format('opentype'),
    url('SanFrancisco-ExtraBold.woff') format('woff'), url('SanFrancisco-ExtraBold.ttf')  format('truetype'), url('SanFrancisco-ExtraBold.svg#SanFrancisco-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}






















/*@font-face {*/
/*font-family: 'SanFrancisco';*/
/*src: url('SanFrancisco-Thin.eot?#iefix') format('embedded-opentype'),  url('SanFrancisco-Thin.otf')  format('opentype'),*/
/*url('SanFrancisco-Thin.woff') format('woff'), url('SanFrancisco-Thin.ttf')  format('truetype'), url('SanFrancisco-Thin.svg#SanFrancisco-Thin') format('svg');*/
/*font-weight: 100;*/
/*font-style: normal;*/
/*}*/

/*@font-face {*/
/*font-family: 'SanFrancisco';*/
/*src: url('SanFrancisco-UltraLight.eot?#iefix') format('embedded-opentype'),  url('SanFrancisco-UltraLight.otf')  format('opentype'),*/
/*url('SanFrancisco-UltraLight.woff') format('woff'), url('SanFrancisco-UltraLight.ttf')  format('truetype'), url('SanFrancisco-UltraLight.svg#SanFrancisco-UltraLight') format('svg');*/
/*font-weight: 200;*/
/*font-style: normal;*/
/*}*/

/*@font-face {*/
    /*font-family: 'SanFrancisco';*/
    /*src: url('SanFrancisco-Black.eot?#iefix') format('embedded-opentype'),  url('SanFrancisco-Black.otf')  format('opentype'),*/
    /*url('SanFrancisco-Black.woff') format('woff'), url('SanFrancisco-Black.ttf')  format('truetype'), url('SanFrancisco-Black.svg#SanFrancisco-Black') format('svg');*/
    /*font-weight: 900;*/
    /*font-style: normal;*/
/*}*/